div(class='reviews-wrapper' id='reviews') 
  section(class='reviews')
    h1(class='heading heading_size_h1 reviews__heading') Отзывы
    div(class='reviews__content')
      //-
        div
      table
        tr
          td
            div(class='embed')
              iframe(
                src='https://www.youtube.com/embed/PqwEsEKV-_g'
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            )
          td
            div(class='embed')
              iframe(
                src='https://www.youtube.com/embed/IPQoP0qLB8w'
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              )
          td
            div(class='embed')
              iframe(
                src='https://www.youtube.com/embed/RoUjk60gFdk'
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              )
        tr
          td
            div(class='embed')
              iframe(
                src="https://www.youtube.com/embed/pyoRNgcRZ2E" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen
              )
          td
            div(class='embed')
              iframe(
                src="https://www.youtube.com/embed/ecVlpHtdwIY" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen
              )
          td
            div(class='embed')
              iframe(
                src="https://www.youtube.com/embed/qOl1j8XJW3s" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen
              )
