extends template-index.pug

block header
  header(class='header')
    img(class='logo' src='./../blocks/logo/logo.png' alt='YPEN logo')
    div(class='header__menu')
      a(class='header__link' href='###') Главная 
      a(class='header__link' href='#certificates') Сертификаты
      a(class='header__link' href='#benefits1') Преимущества
      a(class='header__link' href='#webinars') Вебинары
      a(class='header__link' href='#reviews') Отзывы
      a(class='header__link' href='#webinars') +7 921 515 00 04


block main 
  div(class='main-wrapper') 
    section(class='main') 
      div(class='main__order')
        img(class='main__photo' src='./../blocks/main/handwriting-pocherk.png' alt='Почерк')
        h1(class='heading heading_size_h1 main__heading') Без усталости за 7 дней
        a(class='btn btn_theme_white section8_btn' href='#order') Заказать
      div(class='main__presentation main_align_r')
        img(class='main__photo' src='./../blocks/main/pen-presentation.png' alt='Pen')
      div(class='main__contacts')
        p(class='text text_display_inline') Подписывайтесь на нас&nbsp;&nbsp;&nbsp;—
        a(href='https://www.instagram.com/ypen.ru/' class='icons') 
          img(class='main__photo icons__img' src='./../blocks/main/instagram.png' alt='instagram icon')
        a(href='https://vk.com/ypen_ru' class='icons') 
          img(class='main__photo icons__img' src='./../blocks/main/vk.png' alt='vk icon')
      div(class='main__video main_align_r')
        div(class='main__video-note-box')
          img(class='main__flag' src='./../blocks/main/flag.png' alt='Почерк')
          span(class='main__video-note-text') Придумана и производится в России вручную
        img(class='main__photo main__photo_video-preview' data-modal='modal-video' src='./../blocks/main/preview.jpg' alt='video preview')
        
  //-

  div(class='benefits1-wrapper' id='benefits1') 
    section(class='benefits1') 
      article(class='benefits1__text') 
        h1(class='heading heading_size_h1 benefits1__heading') Письмо без боли, синяков и усталости
        p(class='text text_display_block') За счет физиологичной формы #[strong Ypen можно держать только правильно и никак иначе]. За счет правильного упора во время письма перераспределяется нагрузка с пальцев на ладонь и снимается усталость.
        p(class='text text_display_block') #[strong Ypen подходит для левшей и правшей], для школьников и тех, кто только собирается им стать.
        p(class='text text_display_block') Ypen — отличный инструмент для #[strong подготовки ребенка к школе] и для обучения в начальных классах.
      img(class='benefits1__photo' src='./../blocks/benefits1/hand.png' alt='Hand')

  //-

  div(class='benefits2-wrapper') 
    section(class='benefits2') 
      img(class='benefits2__bokeh1' src='./../blocks/benefits2/bokeh.png' alt='Боке')
      img(class='benefits2__bokeh2' src='./../blocks/benefits2/bokeh.png' alt='Боке')
      img(class='benefits2__bokeh3' src='./../blocks/benefits2/bokeh.png' alt='Боке')
      div(class='benefits2__boy-box')
        img(class='benefits2__photo-boy' src='./../blocks/benefits2/boy-back.png' alt='Boy')
        img(class='benefits2__circle' src='./../blocks/benefits2/wcircle.png' alt='Circle')
        div(class='benefits2__underlay') 
          span(class='benefits2__large-text') YPEN
          img(class='benefits2__photo-handwriting' src='./../blocks/benefits2/handwriting-pravilnaya-osanka.png' alt='Правильная осанка')
      article(class='benefits2__info-box') 
        h1(class='heading heading_size_h1 benefits2__heading') Правильная осанка при письме
        p(class='text text_display_block') Правильное удобное расположение ручки в руке #[strong снимает нагрузку с спины, выравнивает осанку] и бережет детские спины от сколиоза, а глаза — от близорукости.
        p(class='text text_display_block') Ежедневно используется детьми на всей территории России, каждый день целые классы переходят с обычной ручки на Ypen
        div(class='benefits2__subgrid')
          img(class='benefits2__photo-children1' src='./../blocks/benefits2/gallery002.png' alt='Фото')
          img(class='benefits2__photo-children2' src='./../blocks/benefits2/gallery003.png' alt='Фото')
          img(class='benefits2__photo-children3' src='./../blocks/benefits2/gallery001.png' alt='Фото')
          img(class='benefits2__photo-children4' src='./../blocks/benefits2/gallery004.png' alt='Фото')
          img(class='benefits2__photo-children5' src='./../blocks/benefits2/gallery005.png' alt='Фото')

  //-

  div(class='benefits3-wrapper')

    div(class='benefits3-header-wrapper') 
      section(class='benefits3') 
        h1(class='heading heading_size_h1 benefits3__heading') Тренажер для обучения письму
        div(class='benefits3__about')
          p(class='text text_display_block') За 7 дней формируется привычка держать руку и спину правильно, вырабатывается аккуратный почерк, который можно сохранить на всю жизнь

    div(class='benefits3-pen-wrapper') 
      img(class='benefits3__photo-pen' src='./../blocks/benefits3/pen.png' alt='Pen')
      div(class='benefits3__dots')
        img(class='benefits3__ellipse' src='./../blocks/benefits3/ellipse.png' alt='Dot')
        div(class='benefits3__dot-box1')
          img(class='benefits3__dot1' src='./../blocks/benefits3/circle.png' alt='Dot')
          div(class='benefits3__dot-text') Отсутствие боли в руке
        div(class='benefits3__dot-box2')
          img(class='benefits3__dot2' src='./../blocks/benefits3/circle.png' alt='Dot')
          div(class='benefits3__dot-text') Красивый почерк
        div(class='benefits3__dot-box3')
          img(class='benefits3__dot3' src='./../blocks/benefits3/circle.png' alt='Dot')
          div(class='benefits3__dot-text') Прямая спина
        div(class='benefits3__dot-box4')
          img(class='benefits3__dot4' src='./../blocks/benefits3/btn.png' alt='Dot')
          img(class='benefits3__dot-text-handwriting' src='./../blocks/benefits3/handwriting-trenajer.png' alt='Dot')


    div(class='benefits3-header-wrapper') 
      section(class='benefits3 benefits3_footer') 
        div(class='benefits3__note-box')
          img(class='benefits3__photo benefits3__photo_lego-man' src='./../blocks/benefits3/lego.png' alt='Lego man')
          div(class='benefits3__note') Имеет все сертификаты качества, изготовлена из безопасного пластика, такого же, из которого созданы игрушки LEGO

  //-

  div(class='benefits4-wrapper') 
    section(class='benefits4') 
      div(class='benefits4__content')
        img(class='benefits4__photo benefits4__photo_boy' src='./../blocks/benefits4/boy.png' alt='Boy')
        article(class='benefits4__text') 
          h1(class='heading heading_size_h1 benefits4__heading') Здоровое зрение
          p(class='text text_display_block') Из-за неправильного положения за партой при письме, неудобного положения руки, многие дети начинают "писать носом", а это рано или поздно приводит к ухудшению зрения. 
          p(class='text text_display_block') При использовании Ypen дети больше не наклоняются близко к тетради, расстояние между глазами и рабочей поверхностью оптимально для сохранения здоровая и хорошего зрения
          img(class='benefits4__photo benefits4__photo_handwriting' src='./../blocks/benefits4/handwriting.png' alt='Сохранение здоровья зрения')
          img(class='benefits4-wrapper__dot1' src='./../blocks/benefits4/dot.png')
          img(class='benefits4-wrapper__dot3' src='./../blocks/benefits4/dot.png')

    img(class='benefits4-wrapper__dot2' src='./../blocks/benefits4/dot.png')

  //-

  div(class='benefits5-wrapper') 
    section(class='benefits5') 
      h1(class='heading heading_size_h1 benefits5__heading') Совершенствуем ручку 24/7
      div(class='benefits5__about')
        p(class='text text_display_block') Придумана, разработана и создана отцом и сыном Пайкачёвыми из города Мурманска
      div(class='benefits5__steps-box')          
        img(class='benefits5__img1' src='./../blocks/benefits5/step1.png' alt='Октябрь 2018')
        img(class='benefits5__img2' src='./../blocks/benefits5/step2.png' alt='Январь 2018')
        img(class='benefits5__img3' src='./../blocks/benefits5/step3.png' alt='Сентябрь 2019')
        img(class='benefits5__line' src='./../blocks/benefits5/line.png' alt='Линия')
        div(class='benefits5__october') Октябрь 2018 
        div(class='benefits5__january') Январь 2018 
        div(class='benefits5__september') Сентябрь 2019

  //-
      
  div(class='certificates-wrapper' id='certificates') 
    section(class='certificates') 
      h1(class='heading heading_size_h1 certificates__heading') Награды и сертификаты
      div(class='certificates__list')

        div(class='certificates__item')
          div(class='certificates__circle')
            img(class='certificates__thumbnail' data-lightbox='lightbox-image0' src='./../blocks/certificates/thumbnail-cert1.png' alt='патент')
          span(class='certificates__name') Патент «Устройство для письма и рисования»

        div(class='certificates__item')
          div(class='certificates__circle')
            img(class='certificates__thumbnail' data-lightbox='lightbox-image1' src='./../blocks/certificates/thumbnail-cert2.png' alt='диплом')
          span(class='certificates__name') Диплом за 1 место в конкурсе научных и инженерных работ

        div(class='certificates__item')
          div(class='certificates__circle lightbox__img')
            img(class='certificates__thumbnail' data-lightbox='lightbox-image2' src='./../blocks/certificates/thumbnail-cert3.png' alt='сертификат')
          span(class='certificates__name') Сертификат на грант

        div(class='certificates__item')
          div(class='certificates__circle lightbox__img')
            img(class='certificates__thumbnail' data-lightbox='lightbox-image3' src='./../blocks/certificates/thumbnail-cert4.png' alt='диплом')
          span(class='certificates__name') Диплом «Интеллект будущего»

  //-

  div(class='webinars-wrapper' id='webinars') 
    section(class='webinars') 
      h1(class='heading heading_size_h1') Обучающий вебинар для учителей начальных классов и родителей
      div(class='webinars__content')
        img(class='webinars__photo' src='./../blocks/webinars/ep-photo.png' alt='Evgeniy Paykachev Photo')
        article(class='webinars__text') 
          h5(class='heading heading_size_h5 webinars__subheading') В вебинаре вы узнаете:
          p(class='text text_display_block') #[strong 1.] Устройство Ypen, почему она работает, получите пошаговый план и дорожную карту достижение результата за 7 дней, правила постановки руки для письма. 
          p(class='text text_display_block') #[strong 2.] Как закон Ньютона находит применение в ручке Ypen и чем Ypen отличается от обычной ручки.
          p(class='text text_display_block') #[strong 3.] Правила подготовки рабочей зоны для письма, методику упражнений для расслабления и переноса внимания для детей на уроке.
          p(class='text text_display_block') #[strong 4.] Разбор типичных ошибок положения тела и ручки при письме, способы исправления осанки, расположения кисти.
          a(class='btn btn_theme_white webinars__btn' href='###' data-modal='modal-webinar-sign-up') Записаться на вебинар

  //-

  div(class='section8-wrapper' id='order') 
    section(class='section8') 
      header(class='section8__header')
        h1(class='heading heading_size_h1 section8__heading') Выбрать свою Ypen
        span(class='heading section8__subheading') В каждой Ypen стержень легко меняется, и одной ручки хватит на долгое время
    
      div(class='section8__select-pen-box')
        img(class='section8__selected-pen-photo' src='./../blocks/section8/pen1.png' alt='Blue color pen')
        div(class='section8__photos-group')
          img(class='section8__pen-photo' src='./../blocks/section8/pen2.png' alt='Red color pen')
          img(class='section8__pen-photo' src='./../blocks/section8/pen3.png' alt='Turquoise color pen')
          img(class='section8__pen-photo ' src='./../blocks/section8/pen4.png' alt='White color pen')
        div(class='section8__price-box') 
          span(class='section8__price-sum') 
            span(class='section8__price-figures') 890
            span(class='section8__currency') руб. 
          span(class='section8__price-comment') При заказе от 10 штук #[strong цена 800 рублей]
    
      div(class='section8__make-order-box')
        div(class='section8__frame')
          div(class='form-group')
            label(
              class='form-group__label'
              for='name') 
              span(class='form-group__heading') Оставьте заявку
              span(class='form-group__subheading') Мы свяжемся с вами в ближайшее время
            div(class='form-group__container')
              input(
                class='form-group__input'
                type='text'
                id='name'
                name='name'
                placeholder='Ваше имя')
              //-
                div(class='form-group__tip text text_line-height_lg text_color_gray-light text_size_sm') Help text Lorem Ipsum
              input(
                class='form-group__input'
                type='text'
                id='tel'
                name='tel'
                placeholder='+7 (999) 999-99-99')
              //-
                div(class='form-group__tip text text_line-height_lg text_color_gray-light text_size_sm')
              button(type='button' class='btn btn_theme_yellow section8_btn') Заказать
              div(class='form-group__privacy-policy') Политика конфиденциальности

  //-
  div(class='reviews-wrapper' id='reviews') 
    section(class='reviews')
      h1(class='heading heading_size_h1 reviews__heading') Отзывы
      div(class='reviews__content')
        div
          div(class='embed')
            iframe(
              src='https://www.youtube.com/embed/PqwEsEKV-_g'
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
          )
        div
          div(class='embed')
            iframe(
              src='https://www.youtube.com/embed/IPQoP0qLB8w'
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            )
        div
          div(class='embed')
            iframe(
              src='https://www.youtube.com/embed/RoUjk60gFdk'
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            )
        div
          div(class='embed')
            iframe(
              src="https://www.youtube.com/embed/pyoRNgcRZ2E"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen
            )
        div
          div(class='embed')
            iframe(
              src="https://www.youtube.com/embed/ecVlpHtdwIY"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen
            )

  block footer
  footer(class='footer')
    img(class='logo footer__logo' src='./../blocks/logo/logo.png' alt='YPEN logo')
    div(class='footer__menu')
      div(class='footer__section') 
        div(class='footer__item') Главная
        div(class='footer__item') Преимущества
      div(class='footer__section') 
        div(class='footer__item') Вебинары
        div(class='footer__item') Сертификаты
      div(class='footer__section') 
        div(class='footer__item footer__telephone') +7 921 515 00 04
        div(class='footer__item') Доставка и оплата
    div(class='footer__icons')
      a(href='https://www.instagram.com/ypen.ru/' class='icons footer__icon') 
        img(class='icons__img footer__icon' src='./../blocks/icons/instagram.png' alt='instagram icon')
      a(href='https://vk.com/ypen_ru' class='icons footer__icon') 
        img(class='icons__img footer__icon' src='./../blocks/icons/vk.png' alt='vk icon')

  //-

  div(class='modal')
    span(class='modal__close-btn') &times;

    div(class='modal__dialog modal__dialog_video' id='modal-video')
      div(class='embed')
        iframe(class='main__video-preview' src="https://www.youtube.com/embed/1N2vRznEQQ0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

    div(class='modal__dialog' id='modal-webinar-sign-up')

      fieldset(class='form-group-wrapper')
        div(class='form-group')
          legend(class='form-group__label') 
            span(class='form-group__heading') Оставьте заявку
            span(class='form-group__subheading') Мы свяжемся с вами в ближайшее время

          div
            div(class='form-group__container')
              //-
                label(
                  class='form-group__label'
                  for='f1') Имя:
              input(
                class='form-group__input'
                type='text'
                id='webinar-sign-up-name'
                name='webinar-sign-up-name'
                placeholder='Имя покупателя')
              //-
                div(class='form-group__tip text text_line-height_lg text_color_gray-light text_size_sm') Help text Lorem Ipsum 

            div(class='form-group__container')
              //-
                label(
                  class='form-group__label'
                  for='name') A long sentence you're forced to 
              input(
                class='form-group__input'
                type='text'
                id='webinar-sign-up-email'
                name='webinar-sign-up-email'
                placeholder='E-mail покупателя')
              //-
                div(class='form-group__tip text text_line-height_lg text_color_gray-light text_size_sm') Tip text

            div(class='form-group__container')
              //-
                label(
                  class='form-group__label'
                  for='name') Телефон:
              input(
                class='form-group__input'
                type='text'
                id='webinar-sign-up-tel'
                name='webinar-sign-up-tel'
                placeholder='Телефон')
              //-
                div(class='form-group__tip text text_line-height_lg text_color_gray-light text_size_sm') Help text Lorem Ipsum is Lorem Ipsum is simply dummy text of the 

            div(class='form-group__container')
              button(type='button' class='btn btn_theme_yellow section8_btn') Записаться на вебинар















  //-

  div(class='lightbox')
    span(class='lightbox__close-btn') &times;

    img(class='lightbox__dialog' id='lightbox-image0' src='./../blocks/certificates/cert1.jpg' alt='диплом')

    img(class='lightbox__dialog' id='lightbox-image1' src='./../blocks/certificates/cert2.jpg' alt='диплом')

    img(class='lightbox__dialog' id='lightbox-image2'  src='./../blocks/certificates/cert3.jpg' alt='сертификат')

    img(class='lightbox__dialog' id='lightbox-image3'  src='./../blocks/certificates/cert4.jpg' alt='диплом')

    div(class="prev" id='lightbox-btn-prev') &#10094;
    div(class="next" id='lightbox-btn-next') &#10095;