div(class='contacts-wrapper' id='contacts') 
  section(class='contacts') 

    a(
    href=`https://www.facebook.com/ypen.ru`
    class='contacts__link'
    aria-hidden='true'
    focusable='false'
    title='Facebook'
    )
      span(class='contacts__access-label') Facebook
      svg(class=`contacts__img contacts__img_size_sm contacts__img_color_facebook`)
        use(xlink:href='./img/sprite.svg#facebook')


    a(
      href=`https://www.instagram.com/ypen.ru/`
      class='contacts__link'
      aria-hidden='true'
      focusable='false'
      title='Instagram'
    )
      span(class='contacts__access-label') Instagram
      svg(class=`contacts__img contacts__img_size_sm contacts__img_color_instagram`)
        use(xlink:href='./img/sprite.svg#instagram')


    a(
      href=`https://ok.ru/profile/593343391780`
      class='contacts__link'
      aria-hidden='true'
      focusable='false'
      title='Odnoklassniki'
    )
      span(class='contacts__access-label') Odnoklassniki
      svg(class=`contacts__img contacts__img_size_sm contacts__img_color_odnoklassniki`)
        use(xlink:href='./img/sprite.svg#odnoklassniki')


    a(
      href=`hhttps://www.youtube.com/channel/UCBwrgc1eO3qYoa8hymk9ugw`
      class='contacts__link'
      aria-hidden='true'
      focusable='false'
      title='YouTube'
    )
      span(class='contacts__access-label') YouTube
      svg(class=`contacts__img contacts__img_size_sm contacts__img_color_youtube`)
        use(xlink:href='./img/sprite.svg#youtube')


    a(
      href=`https://vk.com/ypen_ru`
      class='contacts__link'
      aria-hidden='true'
      focusable='false'
      title='VKontakte'
    )
      span(class='contacts__access-label') VKontakte
      svg(class=`contacts__img contacts__img_size_sm contacts__img_color_vkontakte`)
        use(xlink:href='./img/sprite.svg#vkontakte')


    a(
      href=`http://telegram.me/Y_Pen`
      class='contacts__link'
      aria-hidden='true'
      focusable='false'
      title='Telegram'
    )
      span(class='contacts__access-label') Telegram
      svg(class=`contacts__img contacts__img_size_sm contacts__img_color_telegram`)
        use(xlink:href='./img/sprite.svg#telegram')


    a(
      href='viber://chat?number=+79215150004"'
      class='contacts__link'
      aria-hidden='true'
      focusable='false'
      title='Viber'
    )
      span(class='contacts__access-label') Viber
      svg(class=`contacts__img contacts__img_size_sm contacts__img_color_viber`)
        use(xlink:href='./img/sprite.svg#viber')


    a(
      href='skype:evgeniypay?chat'
      class='contacts__link'
      aria-hidden='true'
      focusable='false'
      title='Skype'
    )
      span(class='contacts__access-label') Skype
      svg(class=`contacts__img contacts__img_size_sm contacts__img_color_skype`)
        use(xlink:href='./img/sprite.svg#skype')


    a(
      href='https://wa.me/+79215150004'
      class='contacts__link'
      aria-hidden='true'
      focusable='false'
      title='Whatsapp'
    )
      span(class='contacts__access-label') Whatsapp
      svg(class=`contacts__img contacts__img_size_sm
       contacts__img_color_whatsapp`)
        use(xlink:href='./img/sprite.svg#whatsapp')

